# Build output
bin/
obj/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# Visual Studio
.vs/
*.user
*.suo
*.userprefs
*.userosscache
*.sln.docstates

# Rider / JetBrains
.idea/

# MSIX / AppX packaging
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload
*.msix
*.msixbundle
*.msixupload

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml
